* {
	box-sizing: border-box;
}
body{
	margin: 0 auto;
}
h1 {
  margin: 15px auto;
  padding: 10px;
  text-align: center;
}
h2 {
  width: 100px;
  padding: 10px 5px;
  border: 1px solid black;
  text-align: center;
  position: relative;
  top: 0px;
  float: right;
  font-size: 20px;
}

p {
	padding: 5px;
}
#p1, #p2, #p3 {
	width: 350px;
	background: #333;
	margin: 1px 0;
	border: 2px solid black;
	float: left;

}

#p1 {
	
 	
}
#p2 {
	
}
#p3 {
	
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
  	background: pink;
  }
  #p1 {
   
  }
  #p2 {
   
  }
  #p3 {
  
}
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
  	
  }
  #p1 {
    
  }
  #p2 {
   
  }
  #p3 {
  
	}
}
/********** Medium devices only **********/
@media (max-width: 767px) {
 h2 {
  	background: lightyellow;
 	
  }
  #p1 {
   
  }
  #p2 {
   
  }
  #p3 {
 
	}
}